@font-face {
   font-family: "full_Pack_2025";
   font-style: normal;
   src: url(full_Pack_2025.ttf);
}
#titulo{
	display: block;
	float: center;
	width: 100%;
}

body{
background: url(../img/fondo_espacio.png) ;
background-size: cover;

}

#menu ul li {
  background-color:grey;
	width:33.3%;

  position:relative;
  float: left;
  margin:0;
  padding:0;
  text-align: center;
}

#menu ul li:hover {
    background: purple ;
}

#menu ul {

    list-style:none;
    margin:0;
    padding:0;
    display:block;
}

#menu ul a {
    display:block;
    color:white;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"full_Pack_2025", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:3px;

}



#menu ul ul {
    display:none;
    position:relative;
    top:100%;
    left:0;
    padding:0;

}

#menu ul ul li {

    float:none;
    width:100%;


}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;

}

#menu ul li:hover > ul {
    display:block;


}


#boton {

background: url(../img/play.png);


  border: none;
  cursor:pointer;


    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    visibility: hidden;
    bottom: 0;
    left: 0;
    right: 0;

  }

#myVideo {

 position:absolute;
 top:0;
 bottom:0;
 right:0;
 left:0;
 margin:auto;
 z-index: -1;
}

